@import './../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

$container-width: 60%;
$container-margin: 50% - $container-width / 2;

$grey: #a4b0ac;
$sky: #364450;
$star: #f8f4a2;

html {
  height: 100%;
}

body {
  display: table;
  background-color: $sky;
  height: 100%;
  color: $grey;
  font-family: 'Josefin Slab', serif;
}

p {
  font-size: 2em;
}

li {
  font-size: 2em;

  a {
    color: $star;
  }
}

.sky {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: $star;
}

.container {
  width: $container-width;
  height: 100%;
}

.tombstone {
  margin-top: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
  background-color: $grey;
  padding: 10%;
  min-width: 100%;
  min-height: 80%;
  overflow: auto;
  text-align: center;
  color: $sky;

  .name {
    font-size: 4em;
  }
}

.repo-description {
  border: 0;
  background-color: $sky;
  color: $star;
  font-size: .75em;
}
